#blog-content {
   float: left;
   width: 67%;
   min-height: 400px
}

#blog-content img {
   width: 100%
}

#sidebar {
   width: 33%;
   float: left;
}

#sidebar .inner {
   margin: 12px 0 0 24px;
   padding: 12px;
   background: #e8e8e8 url(images/gray-noise.jpg) repeat;
   -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
}

#sidebar h1 {
   padding: 0 0 .25em 0;
   margin-top: 0;
   box-shadow: none;
   border-bottom: 1px solid #999;
}

#sidebar h1 a {
   background: transparent;
   /*color: rgba(240,126,19, 0.8);*/
   color: rgba(152,184,19, 0.8);
   text-decoration: none;
}


#sidebar .recent {

}

#sidebar .repo li {
   margin: 12px 0 24px 0;
}

#sidebar .tweet_list .tweet_avatar {
   display: block;
   float: left;
   padding-top: 2px;
}

#sidebar .tweet_list .tweet_text, #sidebar .tweet_list .tweet_time {
   display: block;
   margin-left: 58px;
   word-wrap: break-word;
   line-height: 1.2em;
}

#sidebar .tweet_list .tweet_time {
   margin-top: 3px;
   font-size: .8em;
   opacity: .6;
}

#sidebar .tweet_list .tweet_time:hover {
   opacity: 1;
}

#sidebar .repo a {
   font-family: 'Dosis', 'Arial', sans-serif;
   font-size: 1.4em;
   margin: 8px 0 8px 0;
   display: block;
}

#sidebar .repo .fork {
   font-size: 13px;
   display: inline-block;
   margin-left: 5px;
}


#sidebar .repo .desc {
   font-size: .9em;
}

#disqus_thread {
   padding-top: 40px;
}

@media (max-width: 800px) {
   #blog-content { width: auto; float: none; }
   #sidebar { width: auto; float: none; }
   #sidebar .inner { margin-left: 0; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
   #sidebar .inner {
      background-size: 50px 50px;
   }
}