
/* Brain Section */
#brain-wrap, #brain, .brain-info {
   height: 400px;
   transition: all 500ms;
   -moz-transition: all 500ms; /* Firefox 4 */
   -webkit-transition: all 500ms; /* Safari and Chrome */
   -o-transition: all 500ms; /* Opera */
}

#brain-wrap {
   position: relative;
   margin: 0 auto 60px auto;
}

#brain {
   position: absolute;
   width: auto;
   top: 20px;
   right: 180px;
   left: 180px;
   background: url(images/brain.png) no-repeat 50% 50%;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
}

.brain-info {
   font-family: 'Dosis', 'Arial', sans-serif;
   width: 160px;
   font-weight: 600;
   text-align: center;
   font-size: 3em;
}

.brain-info.left {
   float: left;
}

.brain-info.right {
   float: right;
}

.brain-percent {
   display: inline-block;
   margin: 120px 0 4px 0;
   width: 160px;
   height: 160px;
   -webkit-border-radius: 160px;
   -moz-border-radius: 160px;
   border-radius: 160px;
   vertical-align: middle;
   line-height: 160px;
   color: #fff;

   transition: all 500ms;
   -moz-transition: all 500ms;
   -webkit-transition: all 500ms;
   -o-transition: all 500ms;
}

.brain-percent.designer { background-color: #f07e13; }
.brain-percent.coder { background-color: #98b813; }

.brain-text { color: #1b676b; }

@media (max-width: 850px) {
   #brain-wrap, #brain, .brain-info {
      height: 300px;
   }
   .brain-percent {
      margin-top: 98px;
   }
}

@media (max-width: 750px) {
   #brain-wrap, #brain, .brain-info {
      height: 270px;
   }
   .brain-percent {
      margin-top: 75px;
   }
}

@media (max-width: 650px) {
   #brain-wrap, #brain, .brain-info {
      height: 240px;
   }
   .brain-percent {
      margin-top: 65px;
   }
}

@media (max-width: 600px) {
   #brain-wrap {
      text-align: center;
      margin-bottom: 14px;
   }
   #brain-wrap, .brain-info {
      height: auto;
   }
   #brain {
      position: static;
      height: 310px;
   }
   .brain-info.left, .brain-info.right {
      display: inline-block;
      float: none;
      
   }
   .brain-info.left {
      margin: 8px 8px 8px 0;
   }
   .brain-info.right {
      margin: 8px 0 8px 8px;
   }
   .brain-percent {
      margin-top: 10px;
   }
}

@media (max-width: 404px) {
   #brain {
      height: 225px;
   }
   .brain-info {
      font-size: 2.25em;
      width: 125px;
   }
   .brain-percent {
      width: 125px;
      height: 125px;
      line-height: 125px
   }
}

@media (max-width: 380px) {
   .main-banner h2 {
      padding-top: .75em;
   }
}

/* Content Section */
#intro .image-wrap {
   float: right;
   margin: 0 0 6px 6px;
   padding: 9px 9px 9px 15px;
   width: 50%;
}

#intro img {
   width: 100%;
}

.contact { margin-bottom: 16px; }

.toolbox {
   position: relative;
   background: #fff;
   background: -moz-radial-gradient(center, ellipse contain, #EAEAEA 0%, #ffffff 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#EAEAEA), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse contain, #EAEAEA 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse contain, #EAEAEA 0%,#ffffff 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse contain, #EAEAEA 0%,#ffffff 100%); /* IE10+ */
   background: radial-gradient(ellipse at center, #EAEAEA 0%,#ffffff 100%); /* W3C */
}

.tool {
   width: 25%;
   float: left;
}

.tool a {
   padding: 6px 8px;
   display: block;
   position: relative;
}

.tool img {
   padding: 0;
   width: 100%;
   border: 1px solid #DEDEDE;
   -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 3px 0 10px -2px rgba(255, 255, 255, .7);
   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 3px 0 10px -2px rgba(255, 255, 255, .7);
}

.knowledge {
   position: absolute;
   width: auto;
   height: auto;
   top: 8px;
   right: 8px;
   bottom: 8px;
   left: 8px;
   background-color: rgba(255, 255, 255, .85);
   visibility: hidden;
   opacity: 0;
   transition: all 500ms;
   -moz-transition: all 500ms;
   -webkit-transition: all 500ms;
   -o-transition: all 500ms;
}

.tool a:hover .knowledge {
   visibility: visible;
   opacity: 1;
}

.knowledge .inner {
   font-family: 'Dosis', 'Arial', sans-serif;
   position: absolute;
   width: 140px;
   height: 140px;
   top: 50%;
   left: 50%;
   margin-top: -60px;
   margin-left: -70px;
   text-align: center;
}

.tech, .rating, .stars {
   display: block;
}
.tech {
   color: #2E2E2E;
   font-size: 1.3em;
   font-weight: 400;
   margin-bottom: .5em;
}
.rating {
   font-size: 1.5em;
   font-weight: 600;
}
.rating.knowledgeable {
   font-size: 1.3em;
   padding-bottom: 4px
}
.rating.new {
   font-size: 1.2em;
   padding-bottom: 4px
}
.stars {
   display: block;
}
.star {
   display: inline-block;
   width: 30px;
   height: 30px;
   background-position: center; 
   background-repeat: no-repeat;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
}
.star.blue { background-image: url(images/star-blue.png); }
.star.gray { background-image: url(images/star-gray.png); }

@media (min-width: 900px) {
   .knowledge .inner 
   {
      font-size: 1.3em;
      width: 170px;
      height: 170px;
      margin-top: -65px;
      margin-left: -85px;
   }
}

@media (max-width: 620px) {
   .tool { width: 33.33%; }
}

@media (max-width: 580px) {
   #intro .image-wrap {
      float: none;
      padding: 0 9px 0 0;
      margin: 12px 0;
      width: auto;
      text-align: center;
   }

   #intro img { width: 100%; }
}

@media (max-width: 530px) {
   .star { width: 26px; height: 26px; }
}

@media (max-width: 460px) {
   .tool { width: 50%; }
}

@media (max-width: 355px) {
   .contact .email-text { display: block; }
   .star { width: 22px; height: 22px; }
}

