/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)

   Hello fellow web lovers!
   I have left everything unminified/compressed so you can judge my CSS/JS abilities.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
html {
   -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
strong {
   font-weight: bold;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Style */
body {
   color: #2E2E2E;
   background-color: #fff;
   font-family: 'Nuito', 'Arial', sans-serif;
   font-weight: 300;
   line-height: 1;
}

/* Elements */
h1, h2, h3, h4, h5, h6 {
   color: #595959;
   font-family: 'Dosis', 'Arial', sans-serif;
}
h1 {
   background: #e8e8e8 url(images/gray-noise.jpg) repeat;
   -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   font-size: 2em;
   font-weight: 600;
   color: rgba(27,103,107, 0.8);
   text-shadow: 1px 4px 6px #e8e8e8, 0 0 0 #000, 1px 4px 6px #e8e8e8;
   padding: 12px;
   margin-top: 12px;
   margin-bottom: 12px;
}
h2 {
   font-size: 1.5em;
   margin-top: 20px;
}
h3 {
   font-size: 1.2em;
   margin-top: 16px;
}
h4 {
   font-size: 1em;
   margin-top: 12px;
}

p {
   color: #2E2E2E;
   margin: 12px 0;
   /*font-size: .9em;*/
   font-weight: 300;
   line-height: 1.6em;
}

strong {
   font-weight: bold;
}

em {
   font-style: italic;
}

@media(min-width: 980px) {
   h1 { font-size: 2.2em; }
   h2 { font-size: 1.7em; }
   h3 { font-size: 1.5em; }
   h4 { font-size: 1.2em; }
   p { font-size: 1em; }
}

/* General classes */
.green {
   color: #98B813;
}

.orange {
   color: #f07e13;
}

.content {
   min-width: 300px;
   max-width: 1100px;
   margin: 0 auto 0 auto;
}

.section {
   padding-top: 12px;
   padding-bottom: 12px;
}
.section.margin {
   margin-top: 12px;
   margin-bottom: 12px;
}

.container {
   padding-left: 12px;
   padding-right: 12px;
}
.container.margin {
   margin-left: 12px;
   margin-right: 12px;
}

.main-banner {
   width: 100%;
   background-color: #1b676b;
   -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, .6);
   box-shadow: 0 0 6px 2px rgba(0, 0, 0, .6);
   position: relative;
   overflow: hidden;
}
.main-banner .highlight {
   -webkit-box-shadow: inset 0 8px 20px -6px rgba(255, 255, 255, .4);
   box-shadow: inset 0 8px 20px -6px rgba(255, 255, 255, .4);
   position: absolute;
   left: -20px;
   right: -20px;
   top: 0;
   height: 15px;
}
.main-banner h1, .main-banner h2 {
   padding: 0;
   margin: 0;
   background: transparent;
   box-shadow: none;
   text-shadow: none;
   transition: all 500ms;
   -moz-transition: all 500ms;
   -webkit-transition: all 500ms;
   -o-transition: all 500ms;
}
.main-banner h1 {
   font-size: 4.1em;
   font-weight: 600;
   color: #fff;
}
.main-banner h2 {
   font-size: 1.6em;
   font-weight: 500;
   color: #fff;
   padding-top: .25em;
   padding-bottom: 0.25em;
}

.text img {
   padding: 3px;
   border: 1px solid #DEDEDE;
   -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 3px 0 10px -2px rgba(255, 255, 255, .7);
   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 3px 0 10px -2px rgba(255, 255, 255, .7);
}

.clear {
   height: 1px;
   clear: both;
}

@media (max-width: 650px) {
   .main-banner {
      font-size: .8em;
   }
}

@media (max-width: 530px) {
   .main-banner {
      font-size: .7em;
   }
}

@media (max-width: 450px) {
   .main-banner {
      font-size: .6em;
   }
}

/* Structural */
#header {
   position: relative;
   background: #fff url(images/brick-bg-seamless-small.jpg) 50% 0;
}

   #header .content {
      position: relative;
   }

   #logo {
      width: height;
      166px: 170px;
      margin-top: 5px;
   }

   #nav {
      position: absolute;
      top: 12px;
      right: 12px;
   }

      .nav-item {
         display: inline-block;
         width: 70px;
         height: 80px;

         text-align: center;
         text-decoration: none;
      }
         .nav-item:hover .nav-label {
            border-bottom: #0f3535 solid 1px;            
         }
         .nav-item.active .nav-label {
            border-bottom: #0f3535 double 3px;  
         }

         .nav-icon {
            display: block;
            height: 50px;
            width: 50px;
            margin: 8px auto 3px auto;
            background-image: url(images/icons.png);
            background-repeat: no-repeat;
         }
         .nav-icon.portfolio { background-position-x: -50px; }
         .nav-icon.blog { background-position-x: -100px; }

         .nav-label {
            padding-bottom: 2px;
            color: #0f3535;
            font-weight: 500;
            font-size: 1em;
         }

#sidebar {
   background: #7D7D7D url(images/darkgray-noise.jpg) repeat;
   float: right;
   -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   width: 264px;

   transition: all 500ms;
   -moz-transition: all 500ms; 
   -webkit-transition: all 500ms;
   -o-transition: all 500ms;
}

#sidebar h1 {
   padding: 0 0 .25em 0;
   margin-top: 0;
   box-shadow: none;
   background: transparent;
   /*color: rgba(240,126,19, 0.8);*/
   color: rgba(152,184,19, 0.8);
   text-shadow: 1px 1px 10px rgba(0,0,0,.6);
   border-bottom: 1px solid #999;
}

#primary {
   margin-right: 320px;

   transition: all 500ms;
   -moz-transition: all 500ms; 
   -webkit-transition: all 500ms;
   -o-transition: all 500ms;
}

@media (max-width: 820px) {
   #sidebar {
      width: 204px;
   }
   #primary {
      margin-right: 260px;
   }
}

@media (max-width: 450px) {
   #header {
      text-align: center;
   }

   #nav {
      position: static;
      float: none;
   }
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }​