/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
html {
   -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
strong {
   font-weight: bold;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Style */
body {
   background-color: #fff;
   font-family: 'Dosis', 'Arial', sans-serif;
   font-weight: 300;
}

/* General classes */
.green {
   color: #98B813;
}

.orange {
   color: #f07e13;
}

.content {
   min-width: 300px;
   max-width: 978px;
   margin: 0 auto 0 auto;
}

.section {
   padding-top: 12px;
   padding-bottom: 12px;
}
.section.margin {
   margin-top: 12px;
   margin-bottom: 12px;
}

.container {
   padding-left: 12px;
   padding-right: 12px;
}
.container.margin {
   margin-left: 12px;
   margin-right: 12px;
}

.container.divider {
   -webkit-box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, .6);
   box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, .6);
}

.main-banner {
   width: 100%;
   background-color: #1b676b;
   -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, .6);
   box-shadow: 0 0 6px 2px rgba(0, 0, 0, .6);
}
.main-banner h1 {
   font-size: 4.1em;
   font-weight: 600;
   color: #fff;
}
.main-banner h2 {
   font-size: 1.6em;
   font-weight: 500;
   color: #fff;
   padding-top: .25em;
   padding-bottom: 0.25em;
}
.main-banner h1, .main-banner h2 {
   transition: font-size 500ms;
   -moz-transition: font-size 500ms;
   -webkit-transition: font-size 500ms;
   -o-transition: font-size 500ms;
}

.clear {
   height: 1px;
   clear: both;
}

@media (max-width: 650px) {
   .main-banner {
      font-size: .8em;
   }
}

@media (max-width: 530px) {
   .main-banner {
      font-size: .7em;
   }
}

@media (max-width: 450px) {
   .main-banner {
      font-size: .6em;
   }
}

/* Structural */
#header {
   position: relative;
   background: #fff url(images/brick-bg-seamless-small.jpg) 50% 0;
}

   #header .content {
      position: relative;
   }

   #logo {
      width: 166px;
      height: 170px;
      margin-top: 5px;
   }

   #nav {
      position: absolute;
      top: 12px;
      right: 12px;
   }

      .nav-item {
         display: inline-block;
         width: 70px;
         height: 80px;

         text-align: center;
         text-decoration: none;
      }
         .nav-item:hover .nav-label {
            border-bottom: #0f3535 solid 1px;            
         }
         .nav-item.active .nav-label {
            border-bottom: #0f3535 double 3px;  
         }

         .nav-icon {
            display: block;
            height: 50px;
            width: 50px;
            margin: 8px auto 3px auto;
            background-image: url(images/icons.png);
            background-repeat: no-repeat;
         }
         .nav-icon.portfolio { background-position-x: -50px; }
         .nav-icon.blog { background-position-x: -100px; }

         .nav-label {
            padding-bottom: 2px;
            color: #0f3535;
            font-weight: 500;
            font-size: 1em;
         }

.sidebar {
   background: #e8e8e8 url(images/gray-noise.jpg) repeat;
   float: right;
   -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .6), inset 0 0 10px -2px rgba(255, 255, 255, .8);
   width: 300px;
}

@media (max-width: 450px) {
   #header {
      text-align: center;
   }

   #nav {
      position: static;
      float: none;
   }
}