---
layout: default
isHome: true
---

<div class="main-banner section">
   <div class="highlight"></div>
   <div class="content">
      <div class="container">
         <h1><span class="green">blake</span> vanlandingham</h1>
         <h2>passionate web <span class="green">designer and developer</span></h2>
      </div>
   </div>
</div>

<div>
   <div class="content section margin">
      <div class="container text">
         <div id="intro">
            {% capture home_intro %}
               {% include home_intro.md %}
            {% endcapture %}
            {{ home_intro | unindent | markdownify }}
            <div class="clear"></div>
         </div>
         <div id="sidebar" class="section margin container">
            <h1>twitter feed</h1>
         </div>
         <div id="primary">
            {% capture home_interest %}
               {% include home_interest.md %}
            {% endcapture %}
            {{ home_interest | unindent | markdownify }}
         </div>
      </div>
   </div>
</div>