---
layout: default
---

<div class="main-banner section">
   <div class="highlight"></div>
   <div class="content">
      <div class="container">
         <a href="/blog.html" class="no-underline">
            <h1>the <span class="green">blog</span></h1>
            <h2>some tagline here</h2>
         </a>
      </div>
   </div>
</div>

<div class="content section margin">
   <div class="container">

      <div id="blog-content">
         {{ content }}
         <div class="clear"></div>
      </div>
       <div id="sidebar">
         <div class="inner">
            <h1><a href="https://github.com/blakevanlan">recent repos</a></h1>
            <div class="github">
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</div>